/* *{
    border: 1px red solid;
} */

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* TOP */

#trafficTop{
    margin-top: 10px;
    width: 15px;
    height: 100px;
    
    background-color: black;
}

/* TRAFFIC_SIGN */

#container {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100px;
    border-radius: 10px;
    padding: 10px 0;
    
    background-color: black;
}

.ligth{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.red {
    background-color: #97040C;
}
.yellow {
    background-color:#CA651A;
}
.green {
    background-color: #149739;
}

.selected{
    box-shadow: 0 0 20px 20px rgb(250, 255, 205)
}